.textbox {
    font-size: 32px;
    padding: 2px;
    width: 200px;
    text-align: center;
    margin-right: 4px;
    padding-right: 20px; /* Adjust based on the width of the symbol */
    padding-left: 20px;
    position: relative; /* Ensure the symbol is positioned relative to the input */
}

.inputContainer {
    position: relative;
    display: inline-block;
}

.symbol {
    font-size: 32px;
    position: absolute;
    right: 0px; /* Adjust based on the desired position */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Prevent the symbol from blocking input interactions */
}

.tooltipWrapper {
    display: inline-block;
    position: relative;
    margin-left: 4px;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.infoIcon:focus .tooltip,
.infoIcon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}