body {
  background-color: #2b2b2b;
  color: #cfcfcfcf;
}

.App {
  text-align: center;
}

.menuDropdown {
  position: relative;
  display: inline-block;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid #cfcfcfcf;
}

.App-header ul {
  margin-top: 3px;
}

.App-header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
  position: relative;
}

.App-header ul li :hover {
  color: #cfcfcfcf;
  text-decoration: underline;
}

.App-header ul li ul {
  visibility: hidden;
  position: absolute;
  top: 90%;
  right: -19%;
  display: none;
}

.App-header ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus,
ul li ul li:hover {
   visibility: visible;
   opacity: 1;
   display: block;
}

.App-header ul li ul li {
  clear: both;
  width: 100%;
  z-index: 1000;
  background-color: #2b2b2b;
  border: 1px solid #cfcfcfcf;
}

.App-header ul li span {
  cursor: pointer;
}

.App-header ul li label {
  cursor: pointer;
}

.App-main {
  padding-top: 1em;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@media screen and (max-width: 900px) {
  .App-main {
    grid-template-columns: 1fr;
    display: block;
  }
}

a {
  color: #cfcfcfcf;
  text-decoration: unset;
}
