body {
  background-color: #2b2b2b;
  color: #cfcfcfcf;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid #cfcfcfcf;
}

.App-header ul {
  margin-top: 3px;
}

.App-header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}

.App-header ul li :hover {
  color: #cfcfcfcf;
  text-decoration: underline;
}

.App-main {
  padding-top: 1em;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

a {
  color: #cfcfcfcf;
  text-decoration: unset;
}
